.leaderboard {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.leaderboard th, .leaderboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.leaderboard th {
    background-color: #f2f2f2;
}

.leaderboard .problem-solved {
    background-color: lightgreen;
}

.leaderboard .wrong-submission {
    background-color: lightcoral;
    font-weight: bold;
    padding-right: 13px;
}
