.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: black;
    text-decoration: none;
  }
  
  .login-section a,
  .login-section button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }