.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	background: white;
}

.login-container .login-form {
	background: #2a4a6f; /* Slightly lighter color */
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	text-align: center;
	width: 330px;
	height: 60%;
}

.login-container .login-title {
	color: #e0e0e0; /* Lighter color for better visibility */
	margin-bottom: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container .input-container {
	position: relative;
	margin-bottom: 30px;
}

.login-container .input-container input {
	width: calc(100% - 60px); /* Adjust width to account for icon padding */
	padding: 10px 20px 10px 50px; /* Adjust padding to make space for icons */
	border: none;
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.2);
	color: #ffffff;
	font-size: 18px;
	outline: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-container .input-container input::placeholder {
	color: #b0c4de;
}

.login-container .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: #ffffff;
	color: hsl(209, 77%, 23%);
	padding: 13px;
	border-radius: 50%;
	font-size: 1.2em;
}

.login-container .user-icon {
	left: 0px;
}

.login-container .lock-icon {
	right: -10px; /* Move the lock icon to the rightmost corner */
}

.login-container .forget-password {
	color: #ffffff;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 16px;
	text-decoration: underline;
}

.login-container .login-button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 30px;
	background: #ffffff;
	color: #0d3b66;
	font-size: 23px;
	cursor: pointer;
	transition: background 0.3s;
	font-weight: bolder;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-container .login-button:hover {
	background: #b0c4de;
}

.login-container .error-message {
	color: #ff6b6b; /* Beautiful color for error message */
	margin-bottom: 20px;
}
