/* Import a font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Registration Page styles */
.registration-page {
    background-color: #2a4a6f;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh; /* Adjusted height to fit content */
}

.registration-page .registration-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8rem;
    color: #e0e0e0; /* Lighter color for better visibility */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registration-page .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem; /* Add margin to separate from heading */
}

.registration-page .registration-link {
    text-decoration: none;
}

.registration-page .registration-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    color: #0d3b66;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
    text-align: center; /* Ensure text is centered */
    position: relative; /* To ensure text stays in place */
    margin: 0 10px; /* Add margin to separate buttons */
}

.registration-page .registration-button:hover {
    background-color: #b0c4de;
}

.registration-page .icon {
    font-size: 3rem; /* Increase icon size */
    margin-bottom: 10px; /* Space between icon and text */
    position: absolute;
    top: -7.5rem; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
	background: #ffffff;
	color: hsl(209, 77%, 23%);
	border-radius: 50%;
    padding: 13px;
}
